.line{
    width:30%;
    height: 5px;
    background-color: #e10902;
    margin: 0 0 20px 0;
}

p{
    color: #666;
    font-weight: 300 !important;
}

h1,h2,h3,h4,h5,h6{
    color: #444;
}

ul{
    color: #666;
    font-weight: 300 !important;
}
/* contact */
.top-section {
    background-color: aqua;
    height: 40vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.top-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

.top-section a {
    color: #f7f7f7;
}

.top-section a:hover {
    color: #292b2c;
    text-decoration: none;
}

.top-section p {
    font-size: 1rem;
}

.card-section .container {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
}

.card-section .card {
    border-radius: 5%;
    box-shadow: 0.1rem 0.1rem 0.4rem #888888;
    transition: all ease 0.5s;
    cursor: pointer;
}

.card-section .card:hover {
    box-shadow: 0.1rem 0.1rem 1rem 0.5rem #888888;
    transform: translateY(-1rem);
    transition: all ease 0.5s;
}

.card-section .card i {
    font-size: 2rem;
    color: #ad5389;
}

.form-section .form-div {
    padding: 3rem !important;
}

.form-section h3{
    margin-bottom: 1rem !important;
    margin-bottom: 2rem !important;
}

.form-section .form-div button {
    padding: 0.7rem !important;
    background-color: #3c1053;
    border: none;
    margin-top: 1rem !important;
}

.form-section .form-div button:hover {
    background-color: #fff;
    color: #3c1053;
    border: 1px solid #3c1053;
}

.form-section .info-div button {
    padding: 0.7rem 2rem 0.7rem 2rem !important;
    background-color: #fff;
    border:1px solid #ad5389;
    color: #ad5389;
    margin-top: 1rem !important;
}

.form-section .info-div button:hover {
    background-color: #ad5389;
    color: #fff;
}

.form-section .info-div hr {
    color: #3c1053;
}

.map-section {
    margin: 5rem 0rem 0rem 0rem !important;
}

/*  */

/* Media queries  */

@media all and (max-width: 992px){
    .card-section .container {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }

    .map-section {
        margin: 1rem 0rem 0rem 0rem !important;
    }
}

@media all and (max-width: 768px){
    .card-section .container {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }

    .map-section {
        margin: 1rem 0rem 0rem 0rem !important;
    }

    .card-section .card {
        border-radius: 2%;
        box-shadow: 0.1rem 0.1rem 0.4rem #888888;
        transition: all ease 0.5s;
    }
}

/* footer */
.bg-image {
    /* background-image: url("https://kidsglow.edu.np/frontend/images/footer.jpg"); */
    background-color:#fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer .container {
    padding: 60px 0px 60px 0px;
}

footer h3.widgettitle {
    padding-bottom: 25px;
    position: relative;
    border-bottom: none;
}
footer h3.widgettitle {
    padding-bottom: 25px;
    position: relative;
    border-bottom: none;
}
footer h3.widgettitle {
    padding-bottom: 25px;
    position: relative;
    border-bottom: none;
}
footer h3.widgettitle {
    padding-bottom: 25px;
    position: relative;
    border-bottom: none;
}
footer h3 {
    font-family: "Bubblegum Sans", cursive;
    font-size: 22px;
}
footer h3.widgettitle.red_sketch:after {
    background-color: rgb(49, 4, 4);
}
footer h3.widgettitle:after {
    content: "";
    padding: 0px;
    max-width: 275px;
    width: 100%;
    display: inline-block;
    background-image: url(https://kidslifedev.wpengine.com/wp-content/themes/kidslife/images/footer_title_bg.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 14px;
}


footer h3.widgettitle.orange_sketch:after {
    background-color: #fec20e;
}

footer h3.widgettitle.pink_sketch:after {
    background-color: pink;
}

footer h3.widgettitle.green_sketch:after {
    background-color: #acc158;
}
.nav-list li a{
    color:#000;
}

